{% extends 'base.html' %}
{% block content %}

<form method="post" class="post-form my-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">현장 정보 수정</h1>
        <button type="submit" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
            <span class="text">현장정보 저장하기</span>
        </button>
    </div>

    {{ form.csrf_token }} <!-- CSRF -->

    {% for field, errors in form.errors.items() %} <!-- 오류표시 Start -->
        <div class="alert alert-danger" role="alert">
            <strong>{{ form[field].label }}</strong>: {{ ', '.join(errors) }}
        </div>
    {% endfor %}


        <div class="row">
            <div class="col-xl-12 col-md-12 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.fullname.label }}</div>
                                <div class="h5 mb-0">{{ form.fullname(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.nickname.label }}</div>
                                <div class="h5 mb-0">{{ form.nickname(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.type.label }}</div>
                                <div class="h5 mb-0">{{ form.type(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.service.label }}</div>
                                <div class="h5 mb-0">{{ form.service(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ form.order.label }}</div>
                                <div class="h5 mb-0">{{ form.order(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-building fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ form.supervisor.label }}</div>
                                <div class="h5 mb-0">{{ form.supervisor(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-building fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ form.constructor.label }}</div>
                                <div class="h5 mb-0">{{ form.constructor(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-building fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ form.startdate.label }}</div>
                                <div class="h5 mb-0">{{ form.startdate(class="input-date form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ form.enddate.label }}</div>
                                <div class="h5 mb-0">{{ form.enddate(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cost.label }}</div>
                                <div class="h5 mb-0">{{ form.cost(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-danger shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.endcost.label }}</div>
                                <div class="h5 mb-0">{{ form.endcost(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-won-sign fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <!-- Default Card Example -->
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">History</h6>
                    </div>
                    <div class="h5 mb-0">{{ form.memo(class="form-control text-gray-800") }}</div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

