{% extends 'base.html' %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">계측기 현황</h1>
    {% if g.user.power != "user" %}
        <a href="{{ url_for('point.point_create') }}" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50"><i class="fas fa-flag"></i></span>
            <span class="text">계측기 등록하기</span>
        </a>
    {% endif %}
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">
            Measuring Point List :
            {% for area_type in area_types %}
                <a href="{{ url_for('point.point_list_area', area_choice=area_type[0]) }}" class="btn btn-sm btn-primary btn-icon-split ml-2">
                    <span class="text">{{area_type[0]}}</span>
                </a>
            {% endfor %}
        </h6>
    </div>
    {% include "point/list/point_listmodule.html" %}
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
jQuery(function($){
	$("#table_point").DataTable(
	    {
	        "paging"        : true,                 //페이징
	        "ordering"      : true,                 //컬럼 클릭 시 오더링을 적용
	        "info"          : true,                 //페이지 상태에대한 정보를 표시
	        "filter"        : true,                 //검색창
	        "lengthChange"  : true,                 //블록 단위 변경 기능
	        //"order"         : [[ 0, "desc" ]],      //기본 컬럼 정렬 설정
	        "scrollX"       : false,
	        "scrollY"       : false,
	        "scrollCollapse": false,
            "language": {
                "emptyTable": "데이터가 없어요.",
                "lengthMenu": "계측기 _MENU_ 개씩 보기",
                "info": "계측기 수 : 현재 _START_ - _END_개 / 총_TOTAL_개",
                "infoEmpty": "데이터 없음",
                "infoFiltered": "( _MAX_건의 데이터에서 필터링됨 )",
                "search": "검색: ",
                "zeroRecords": "일치하는 데이터가 없어요.",
                "loadingRecords": "로딩중...",
                "processing":     "잠시만 기다려 주세요...",
                "paginate": {
                    "next": "다음",
                    "previous": "이전"
                }
            },
	    }
	);
});
</script>
{% endblock %}