{% extends 'base.html' %}
{% block content %}

<form method="post" class="post-form my-3">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">계측기 등록</h1>
        <button type="submit" class="btn btn-info btn-icon-split">
            <span class="icon text-white-50"><i class="fas fa-info-circle"></i></span>
            <span class="text">계측기 정보 저장하기</span>
        </button>
    </div>

    {{ form.csrf_token }} <!-- CSRF -->
    {% include "form_errors.html" %}

        <div class="row">

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.number.label }}</div>
                                <div class="h5 mb-0">{{ form.number(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.area.label }}</div>
                                <div class="h5 mb-0">{{ form.area(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{ form.locate.label }}</div>
                                <div class="h5 mb-0">{{ form.locate(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-globe-asia fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ form.installdate.label }}</div>
                                <div class="h5 mb-0">{{ form.installdate(class="input-date form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ form.startdate.label }}</div>
                                <div class="h5 mb-0">{{ form.startdate(class="input-date form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6 mb-4">
                <div class="card border-left-info shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">{{ form.enddate.label }}</div>
                                <div class="h5 mb-0">{{ form.enddate(class="input-date form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                            <div class="col-auto">
                                <i class="fas fa-clock fa-2x text-gray-300"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ form.type.label }}</div>
                                <div class="h5 mb-0">{{ form.type(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 mb-4">
                <div class="card border-left-warning shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">{{ form.active.label }}</div>
                                <div class="h5 mb-0">{{ form.active(class="custom-control custom-radio custom-control-inline text-xs font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst01.label }}</div>
                                <div class="h5 mb-0">{{ form.cst01(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst02.label }}</div>
                                <div class="h5 mb-0">{{ form.cst02(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst03.label }}</div>
                                <div class="h5 mb-0">{{ form.cst03(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst04.label }}</div>
                                <div class="h5 mb-0">{{ form.cst04(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst05.label }}</div>
                                <div class="h5 mb-0">{{ form.cst05(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst06.label }}</div>
                                <div class="h5 mb-0">{{ form.cst06(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst07.label }}</div>
                                <div class="h5 mb-0">{{ form.cst07(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst08.label }}</div>
                                <div class="h5 mb-0">{{ form.cst08(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst09.label }}</div>
                                <div class="h5 mb-0">{{ form.cst09(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst10.label }}</div>
                                <div class="h5 mb-0">{{ form.cst10(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst11.label }}</div>
                                <div class="h5 mb-0">{{ form.cst11(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst12.label }}</div>
                                <div class="h5 mb-0">{{ form.cst12(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst13.label }}</div>
                                <div class="h5 mb-0">{{ form.cst13(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst14.label }}</div>
                                <div class="h5 mb-0">{{ form.cst14(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-secondary shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-danger text-uppercase mb-1">{{ form.cst15.label }}</div>
                                <div class="h5 mb-0">{{ form.cst15(class="form-control font-weight-bold text-gray-800") }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</form>

{% endblock %}

